---
export interface Props {
  title: string;
  titleSpan: string;
  description: string;
  primaryLink: string;
  primaryText: string;
  secondaryLink?: string;
  secondaryText?: string;
  imageSource: string;
  imageAlt: string;
  features?: { title: string; desc: string }[];
}
const {
  title,
  titleSpan,
  description,
  primaryLink,
  primaryText,
  secondaryLink,
  secondaryText,
  imageSource,
  imageAlt,
  features = []
} = Astro.props;
---

<section
  class="wrapper-column"
  role="region"
  aria-labelledby="columnright-title"
>
  <div class="wrapper large">
    <h2 id="columnright-title" class="title-section">
      {title} <br />
      <span class="title-section highlight">{titleSpan}</span>
    </h2>

    <p class="body-text">{description}</p>

    {features.length > 0 && (
      <ul class="feature-list">
        {features.map((feat) => (
          <li class="feature-item">
            <h3 class="feature-title">{feat.title}</h3>
            <p class="feature-desc">{feat.desc}</p>
          </li>
        ))}
      </ul>
    )}

    <div class="wrapper-button">
      <a href={primaryLink} class="button-primary">
        {primaryText}
      </a>
      {secondaryLink && secondaryText && (
        <a href={secondaryLink} class="button-secondary">
          {secondaryText}
        </a>
      )}
    </div>
  </div>

  <div class="wrapper small">
    <img
      src={imageSource}
      alt={imageAlt}
      class="image-main"
      loading="lazy"
      width="651"
      height="579"
    />
  </div>
</section>

<style>
  .wrapper-column {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
  }

  .wrapper-column .wrapper.large {
    order: 2;
    flex: 1 1 40rem;
    margin: 0;
    padding: 0;
  }

  .wrapper-column .wrapper.small {
    order: 1;
    flex: 1 1 30rem;
    margin: 0;
    padding: 0;
  }

  ul.feature-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 1.5rem 0 0;
    gap: 1rem;
    list-style: none;
  }

  .feature-title {
    margin: 0 0 0.5rem;
    font-size: var(--fs-body);
    font-weight: 600;
    color: var(--primary-500);
  }

  .feature-desc {
    margin: 0;
    font-size: var(--fs-bodysm);
    color: var(--secondary-500);
  }
</style>